chainlit==0.6.0
openai==0.27.8
langchain==0.0.240
python-dotenv==1.0.0
psycopg2==2.9.6
chromadb==0.3.26
googlemaps==4.10.0
airtable-python-wrapper==0.15.3
pydantic[dotenv,email]==1.10.9
pymongo==4.4.0
tiktoken==0.5.1
